## Download mysql 
https://downloads.mysql.com/archives/community/

## unzip it and put it under a folder, say
D:\Program Files\mysql-8.0.33-winx64

## initialize mysql through the following steps:
1. create a file `my.ini` under `D:\Program Files\mysql-8.0.33-winx64`. Its content is
```
[mysqld]

port=3306

basedir=D:\\Program Files\\mysql-8.0.33-winx64

datadir=D:\\Program Files\\mysql-8.0.33-winx64\\data
```
2. open a cmd terminal with an administrator previlige and type in:
```
D:\Program Files\mysql-8.0.33-winx64\bin\mysqld.exe" --initialize-insecure
```
3. install a service called mysql8033 (you can use a different name) so that you can use mysql later
```
"D:\Program Files\mysql-8.0.33-winx64\bin\mysqld.exe" --install mysql8033
```
4. start the service via:
```
net start mysql8033
```
5. stop the service via:
```
net stop mysql8033
```

### You can also start a service via GUI:
Task manager -> Services -> Open services -> mysql8033, then right click and start

### Add mysql as an environment virable
My PC (right click) properties -> advanced system settings -> System variables -> Path -> Edit -> New

Paste `D:\Program Files\mysql-8.0.33-winx64\bin\mysql.exe` here and restart your terminal. 

Now you can connect to database via:
```
mysql -u root -p
```
You can set a password:
```
SET PASSWORD='123';
```

### Some common commands
To check databases
```mysql
show databases
```
To exit
```mysql
exit;
```
Create a database
```mysql
create database [name];
```
```mysql
create database [name] DEFAULT CHARSET utf8 COLLATE utf8_general_ci;
```
Delete a database
```mysql
drop database xxx;
```
Enter a database
```mysql
use xx;
```
Show the tables in the current database
```mysql
show tables;
```
Create a table
```mysql
create table tb1(
    id int,
    name varchar(16) not null,
    age int null  # By default, null is allowed
) default charset=utf8;
```
Drop tables
```mysql
drop table tb1;
```

## What if you forgot your password
1. stop your service
```
net stop mysql8033
```
2. append the following line to the my.ini
```
skip-grant-tables=1
```
3. restart your service
```
net start mysql8033
```
4. this time you can login without password
```
mysql -u root -p
```
5. you can change your password
```
use mysql;
```

In [20]:
import pymysql as sql

conn = sql.connect(host='127.0.0.1', port=3306, user='root', passwd='123', charset='utf8', database='xx')
cursor = conn.cursor()

# show databases
cursor.execute('show databases;')
result = cursor.fetchall()
print(result)

# # create a database
# cursor.execute('create database xxx;')
# conn.commit()

# # delete a database
# cursor.execute('drop database xxx;')
# conn.commit()

# cursor.execute('use xx;')
cursor.execute('show tables;')
result = cursor.fetchall()
print(result)

# command = """create table tb2(
#     id int,
#     name varchar(16),
#     age int
# ) default charset=utf8;
# """
# cursor.execute(command)
# conn.commit()

# cursor.execute('drop table tb2;')
# conn.commit()

cursor.close()
conn.close()

(('information_schema',), ('mysql',), ('performance_schema',), ('sys',), ('xx',))
(('tb1',),)

### default value
Create a table with default values
```mysql
create table tb1(
    id int,
    name varchar(16) not null,
    age int default 3  # By default, null is allowed
) default charset=utf8;
```

### primary key
Create a table with a primary key
```mysql
create table tb1(
    id int,
    name varchar(16) not null,
    age int default 3  # By default, null is allowed
) default charset=utf8;
```

### auto_increment
```mysql
create table tb2(
    id int not null auto_increment primary key,
    name varchar(16) not null,
    age int default 3  # By default, null is allowed
) default charset=utf8;
```
```mysql
insert into tb2(name, age) values('aa', 3);
insert into tb2(name, age) values('bb', 4);
insert into tb2(name) values('cc');
```
```mysql
select * from tb2;
```

```mysql
desc tb2;
```
```
+-------+-------------+------+-----+---------+----------------+
| Field | Type        | Null | Key | Default | Extra          |
+-------+-------------+------+-----+---------+----------------+
| id    | int         | NO   | PRI | NULL    | auto_increment |
| name  | varchar(16) | NO   |     | NULL    |                |
| age   | int         | YES  |     | 3       |                |
+-------+-------------+------+-----+---------+----------------+
3 rows in set (0.00 sec)
```

### Types
1. tinyint

-127 -- 127

unsigned 0-255
```mysql
create table tb3(
    id int not null auto_increment primary key,
    name varchar(16) not null,
    age tinyint unsigned default 3  # By default, null is allowed
) default charset=utf8;
```
2. int
3. bigint
4. char 

 fixed length
 
5. varchar

 dynamic length
 
6. text
```mysql
create table tb3(
    id int not null auto_increment primary key,
    name varchar(16) not null,
    content text 
) default charset=utf8;
```
7. mediumtext
8. longtext
9. datetime
```
YYYY-MM-DD HH:MM:SS
```
10. date
```
YYYY-MM-DD
```
```mysql
create table tb4(
    id int not null auto_increment primary key,
    name varchar(16) not null,
    ctime date 
) default charset=utf8;
```
```mysql
insert into tb4(name,ctime) values('a','2023-08-8');
```

11. float
12. double
13. decimal(m,d)
```mysql
create table tb4(
    id int not null auto_increment primary key,
    name varchar(16) not null,
    salary decimal(8,2)  
) default charset=utf8;
```

### row operation
```mysql
create table tb5(
    id bigint unsigned not null auto_increment primary key,
    name varchar(16),
    mobile char(11),
    salary decimal(10,2),
    ctime datetime
) default charset=utf8;
insert into tb5(name, mobile, salary, ctime) values
    ('a', '12345678910', 1000, '2023-08-08'), 
    ('b', '12345678910', 1000, '2023-08-08');
```
#### delete
```mysql
delete from tb5;
delete from tb5 where condition;
delete from tb5 where id=2;
delete from tb5 where id>2 and name='xxx';
delete from tb5 where id!=2;
delete from tb5 where id>=2;
delete from tb5 where id in (1,2);
```
#### update
```mysql
update tb5 set mobile='199999999';
update tb5 set mobile='199999999', salary=2000 where name='xxx';
```
#### search
```mysql
select * from tb5;
select id, name from tb5 where id >3;
```

In [34]:
import pymysql as sql
from pymysql.cursors import DictCursor

conn = sql.connect(host='127.0.0.1', port=3306, user='root', passwd='123', charset='utf8', database='xx')
# cursor = conn.cursor()
cursor = conn.cursor(cursor=DictCursor)

# # insert
# cmd = "insert into tb5(name, mobile, salary, ctime) values('c', '12345678910', 1000, '2023-08-08'), ('d', '12345678910', 1000, '2023-08-08');"
# cursor.execute(cmd)
# conn.commit()

# # delete 
# cmd = "delete from tb5 where id=5;"
# cursor.execute(cmd)
# conn.commit()

# # change 
# cmd = "update tb5 set salary=5000, mobile='5555555' where id=6;"
# cursor.execute(cmd)
# conn.commit()

# search
cmd = "select * from tb5"
cursor.execute(cmd)
result = cursor.fetchall()
print(result)

# result = cursor.fetchone()
# print(result)

cursor.close()
conn.close()

[{'id': 1, 'name': 'a', 'mobile': '12345678910', 'salary': Decimal('1000.00'), 'ctime': datetime.datetime(2023, 8, 8, 0, 0)}, {'id': 6, 'name': 'd', 'mobile': '5555555', 'salary': Decimal('5000.00'), 'ctime': datetime.datetime(2023, 8, 8, 0, 0)}]
None

In [42]:
import pymysql as sql
from pymysql.cursors import DictCursor

while True:
    user = input('user:')
    if user.upper() == 'Q':
        break
    password = input('password:')
    phone = input('phone:')

    conn = sql.connect(host='127.0.0.1', port=3306, user='root', passwd='123', charset='utf8', database='unicom')
    cursor = conn.cursor()
    cmd = "insert into admin(username, password, mobile) values(%s,%s,%s);"
    cursor.execute(cmd, [user, password, phone])
    conn.commit()
    cmd = "select * from admin;"
    cursor.execute(cmd)
    res = cursor.fetchall()
    print(res)
    
    cursor.close()
    conn.close()

user: s
password: 1
phone: 123

((1, 'w', 'w', '123'), (3, 's', '1', '123'))

user: f
password: 4
phone: 345

((1, 'w', 'w', '123'), (3, 's', '1', '123'), (4, 'f', '4', '345'))

user: q

In [36]:
import pymysql as sql
from pymysql.cursors import DictCursor

while True:
    user = input('specify the user that you want to delete:')
    if user.upper() == 'Q':
        break

    conn = sql.connect(host='127.0.0.1', port=3306, user='root', passwd='123', charset='utf8', database='unicom')
    cursor = conn.cursor()
    cmd = "delete from admin where username=%s;"
    cursor.execute(cmd, [user,])
    conn.commit()
    cmd = "select * from admin;"
    cursor.execute(cmd)
    res = cursor.fetchall()
    print(res)
    
    cursor.close()
    conn.close()

specify the user that you want to delete: u

((1, 'w', 'w', '123'),)

specify the user that you want to delete: q

In [46]:
import pymysql as sql
# from pymysql.cursors import DictCursor

while True:
    user = input('specify the user for whom you want to change password:')    
    if user.upper() == 'Q':
        break
        
    pwd = input('password:')

    conn = sql.connect(host='127.0.0.1', port=3306, user='root', passwd='123', charset='utf8', database='unicom')
    cursor = conn.cursor()
    cmd = "update admin set password=%s where username=%s;"
    cursor.execute(cmd, [pwd, user,])
    conn.commit()
    cmd = "select * from admin;"
    cursor.execute(cmd)
    res = cursor.fetchall()
    print(res)
    
    cursor.close()
    conn.close()

specify the user for whom you want to change password: w
password: 2

((1, 'w', '2', '123'), (3, 's', '1', '123'), (4, 'f', '4', '345'))

specify the user for whom you want to change password: q

In [47]:
import pymysql as sql
# from pymysql.cursors import DictCursor

while True:
    user = input('specify the user:')    
    if user.upper() == 'Q':
        break

    conn = sql.connect(host='127.0.0.1', port=3306, user='root', passwd='123', charset='utf8', database='unicom')
    cursor = conn.cursor()
    cmd = "select * from admin where username=%s;"
    cursor.execute(cmd, [user,])
    res = cursor.fetchall()
    print(res)
    
    cursor.close()
    conn.close()

specify the user: f

((4, 'f', '4', '345'),)

specify the user: q

In [ ]:
create table admin(
    id int unsigned not null auto_increment primary key,
    username varchar(16),
    password varchar(16),
    mobile char(11)
) default charset=utf8;